PROJECT_NAME="Repo Analysis API"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=repo_analysis
REDIS_HOST=localhost
REDIS_PORT=6379
CHROMA_HOST=localhost
CHROMA_PORT=8000

# Required for RAG Pipeline
GOOGLE_API_KEY="AIzaSyDBMbpbyv4brLqIBJfh3ojTR2zMN5Ukefw"
